In [1]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [3]:
#AMOSTRAGEM ALEATÓRIA SIMPLES -------------------------------------

In [4]:
#selecionando o numero de registros de uma amostra (10)
#df_sample = iris.sample(n = 10)
#df_sample.info()

In [5]:
#selecionando o percentual de registros de uma amostr (10%)
df_sample = iris.sample(frac = 0.10)
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 58 to 117
Data columns (total 5 columns):
sepal_length    15 non-null float64
sepal_width     15 non-null float64
petal_length    15 non-null float64
petal_width     15 non-null float64
species         15 non-null object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes

In [6]:
#-------------------------------------------------------------------

In [7]:
#AMOSTRAGEM ALEATÓRIA ESTRATIFICADA

In [10]:
from sklearn.model_selection import train_test_split
iris['species'].value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(iris.drop('species',axis=1),
iris['species'], stratify=iris['species'], test_size=0.20)

In [14]:
y_test.shape

(30,)

In [15]:
y_test.value_counts()

versicolor    10
virginica     10
setosa        10
Name: species, dtype: int64

In [16]:
#Temos o test_size=0.20 especificamos que queremos uma amostra de 20% para os dados 
#de teste totalizando 30 registros, esses registros serão divididos em 3 grupos com o 
#mesmo tamanho como na saída abaixo.
#----------------------------------------------------------------------

In [49]:
#AMOSTRAGEM SISTEMÁTICA
import numpy as np
seed = np.random.choice(10, 1)
seed

array([7])

In [50]:
indices = np.arange(0, 100, seed)
indices

array([ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98])

In [51]:
amostra = iris.loc[indices,:]
amostra

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
7            5.0          3.4           1.5          0.2      setosa
14           5.8          4.0           1.2          0.2      setosa
21           5.1          3.7           1.5          0.4      setosa
28           5.2          3.4           1.4          0.2      setosa
35           5.0          3.2           1.2          0.2      setosa
42           4.4          3.2           1.3          0.2      setosa
49           5.0          3.3           1.4          0.2      setosa
56           6.3          3.3           4.7          1.6  versicolor
63           6.1          2.9           4.7          1.4  versicolor
70           5.9          3.2           4.8          1.8  versicolor
77           6.7          3.0           5.0          1.7  versicolor
84           5.4          3.0           4.5          1.5  versicolor
91           6.1          3.0           4.6          1.4  versicolor
98           5.1          2.5           3.0          1.1  versicolor

In [52]:
amostra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 98
Data columns (total 5 columns):
sepal_length    15 non-null float64
sepal_width     15 non-null float64
petal_length    15 non-null float64
petal_width     15 non-null float64
species         15 non-null object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes